<div class="jumbotron">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">This is the crypto wallet, here you can register your virtual currencies</p>
  <hr class="my-4">
  <p>Register your currency or type of mining</p>
  <%= render "menu" %>
</div>